<h1 class="title">Departments</h1>

<div class="button--department">
  <%= link_to "NEW DEPARTMENT", new_department_path %>
</div>
<div id="departments">
  <% @departments.each do |department| %>
    <%= render department %>
    <p>
      <%= link_to "Show", department %>
    </p>
  <% end %>
</div>

