.main {
  width: 360px;
  margin: 0 auto;
  background-color: white;
}

.header {
  background-color: #F2F2F2;
  padding: 19px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu--header{
  height: 12px;
}

.footer {
  background-color: #F2F2F2;
  padding: 19px 16px;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

/* Department */

.title{
  font-size: 30px;
  margin: 32px 0px 16px 16px;
  font-family: var(--font-secondary);
  font-weight: 600;
  line-height: 36px;
}

.button--department{
  margin-left: 16px;
  background-color: var(--secondary-300);
  padding: 6px 10px;
  font-size: 12px;
  width: 141px;
  border-radius: 4px;

}

.button--department > a {
  text-decoration: none;
  color: white;
  line-height: 16px;
  letter-spacing: 1.25px;
}

.department--card{
  margin: 32px 16px;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.department--card > img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.department--card__title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 16px;
}

.department--card__name{
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-secondary);
  line-height: 32px;
  color: var(---gray-400);
}

.department--card__count{
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-primary);
  line-height: 20px;
}

.department--card__link{
  display: flex;
  justify-content: right;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
}

.department--card__link > a {
  background-color: var(--secondary-300);
  padding: 8px;
  border-radius: 50%;
}

/*New Department*/

.new--department{
  margin: 0px 16px;
}

.buttom--department__create{
  background-color: var(--secondary-300);
  color: white;
  border: none;
  margin: 16px auto;
  padding: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  text-transform: uppercase;
  align-items: center;
}

.buttom--department__back{
  background-color: var(--gray-100);
  border: none;
  margin: 16px auto;
  padding: 8px;
  text-align: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  text-transform: uppercase;
}

.label--department{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.input--department{
  border: 1px solid #D3D3D3;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}