.main {
  width: 360px;
  margin: 0 auto;
  background-color: white;
}

.header {
  background-color: #F2F2F2;
  padding: 19px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu--header{
  height: 12px;
}

.footer {
  background-color: #F2F2F2;
  padding: 19px 16px;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

/* Department */

.title{
  font-size: 30px;
  margin: 32px 0px 16px 16px;
  font-family: var(--font-secondary);
  font-weight: 600;
  line-height: 36px;
}

.button--department{
  margin-left: 16px;
  background-color: var(--secondary-300);
  padding: 6px 10px;
  font-size: 12px;
  width: 141px;
  border-radius: 4px;

}

.button--department > a {
  text-decoration: none;
  color: white;
  line-height: 16px;
  letter-spacing: 1.25px;
}

.department--card{
  margin: 32px 16px;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.department--card > img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.department--card__title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 16px;
}

.department--card__name{
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-secondary);
  line-height: 32px;
  color: var(---gray-400);
}

.department--card__count{
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-primary);
  line-height: 20px;
}

.department--card__link{
  display: flex;
  justify-content: right;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
}

.department--card__link > a {
  background-color: var(--secondary-300);
  padding: 8px;
  border-radius: 50%;
}

/*New Department*/

.new--department{
  margin: 0px 16px;
}

.buttom--department__create{
  background-color: var(--secondary-300);
  color: white;
  border: none;
  margin: 16px auto;
  padding: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  text-transform: uppercase;
  align-items: center;
}

.buttom--department__back{
  background-color: var(--gray-100);
  border: none;
  margin: 16px auto;
  padding: 8px;
  text-align: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  text-transform: uppercase;
}

.label--department{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.input--department{
  border: 1px solid #D3D3D3;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.description--department{
  margin: 16px auto;
}

/* employee */

.employee--card{
  margin: 28px 0px;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.buttom--employee__create{
  background-color: var(--secondary-300);
  color: white;
  border: none;
  margin: 16px auto;
  padding: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  text-transform: uppercase;
  align-items: center;
}
.employee--avatar{
  width: 64px;
  height: 64px;
}

.employee--details{
  display: flex;
  align-items: center;
  gap: 8px;
}

.employee--avatar > img {
  border-radius: 50%;
}

.employee--card__link{
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 8px;
}

.employee--card__link > a {
  background-color: var(--secondary-300);
  padding: 8px;
  border-radius: 50%;
}

.employee--name{
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.employee--position{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.department--information{
  margin-top: 28px;
}

/* feedback */ 

.feedback--card{
  border-top: 2px solid #D3D3D3;
  padding-top: 8px;
  padding-bottom: 24px;
}

.feedback--link{
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
  align-items: center;
  gap: 8px;
}

.feedback--link > a {
  background-color: var(--secondary-300);
  padding: 8px;
  border-radius: 50%;
}

.feedback--name{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.feedback--body{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.feedback--created{
  font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #7A7A7A;
}

/* Employee */

.avatar--imagen > img{
  width: 64px;
  height: 64px;
  margin: 0 auto;
  margin-top: 40px;
}

.employee--name__details{
  font-weight: 600;
font-size: 24px;
line-height: 32px;
text-align: center;
margin-top: 8px;
}

.employee--position__details{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.employee--deptname__details{
  font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
}

.employee--nationality__details{
  font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
}

.employee--years{
  font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
}

.employee--link{
  display: flex;
  justify-content: center;
  padding: 16px 0px;
  align-items: center;
  gap: 8px;
}

.employee--link > a {
  background-color: var(--secondary-300);
  padding: 8px;
  border-radius: 50%;
}

/* notice and alert */
.notice{
  color: green;
}

.alert{color: var(--error-500);}